<script>
  export let open = false;
  export let position = {};
  export let forcedState = null;

  function onstate({ changed, current, previous }) {
    console.log(changed, current);
    if (!previous) return;
    if (!changed.forcedState) return;

    if (typeof current.forcedState === "string") {
      current.forcedState === "closed" ? close() : open();
    }
  }

  function checkoutOutsideClick({ target }) {
    console.log("checkoutOutsideClick");

    // Make sure the click happens outside the selector
    let element = target;
    while (element) {
      if (element === this.refs.popin) {
        return;
      }
      element = element.parentNode;
    }

    console.log("should close");

    this.close();
  }
  function toggle(event) {
    if (this.get().open) {
      this.close();
    } else {
      this.open(event);
    }
    event.stopPropagation();
  }

  function openPopin(event) {
    if (event.target === this.refs.trigger && this.get().open) {
      this.close();
      return;
    }

    event.stopPropagation();

    let OFFSET_TOP = 110;
    let OFFSET_LEFT = 30;

    const {
      target: { offsetTop, offsetLeft }
    } = event;

    console.log("open", event.target, this.refs.popin);

    const left = offsetLeft > OFFSET_LEFT ? offsetLeft - OFFSET_LEFT : 0;
    const top = offsetTop > OFFSET_TOP ? offsetTop - OFFSET_TOP : 0;

    this.set({
      open: true,
      position: { left, top }
    });

    this.on("close", this.close);
    this.on("*", console.log);
  }

  function close() {
    this.set({ open: false });
  }
</script>

<style>
  .popin {
    position: absolute;
    transition: "top";
  }
</style>

<span on:click={toggle}>
  <slot name="trigger">No trigger given</slot>
</span>

<svelte:window on:click={checkoutOutsideClick} />

{#if open}
  <div style=" top: {position.top}px; left: {position.left}px; " class="popin">
    <slot name="popin">No popin content given</slot>
  </div>
{/if}
