<script lang="ts">
  import { Router, Link, Route } from "svelte-routing";
  import Home from "./pages/home.svelte";
  import Login from "./pages/login.svelte";
  import Logout from "./pages/logout.svelte";
  import Update from "./pages/update.svelte";
  import Languages from "./components/languages.svelte";

  import addBaseUrl from "./tools/baseUrl";
  import { session } from "./tools/stores";
  import _, { isReady } from "./tools/i18n/i18n";

  export let url = "";

  $: style = `display: ${$isReady ? "block" : "none"}`;
</script>

<style>
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
</style>

<div class="container" {style}>
  <Router {url}>
    <nav>
      <span>
        {#if $session.email}
          {$session.email}
          <Link to={addBaseUrl('/logout')}>{$_('logout.title')}</Link>
        {:else}
          <Link to={addBaseUrl('/login')} getProps={() => ({ 'data-test': 'login' })}>{$_('login.title')}</Link>
        {/if}
        <Languages />
      </span>
    </nav>
    <Route path={addBaseUrl('/')} component={Home} />
    <Route path={addBaseUrl('/login')} component={Login} />
    <Route path={addBaseUrl('/update')} component={Update} />
    <Route path={addBaseUrl('/logout')} component={Logout} />
  </Router>
</div>
