*,
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.active {
  color: red;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

#container {
  max-width: 800px;
  margin: 0 auto;
}

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0 0.5em;
}

.as-link {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

a,
.as-link {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover,
.as-link:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  /* justify-content: center; */
}

nav > * {
  padding-right: 50px;
}

nav > *:last-child {
  text-align: right;
  padding-right: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.error {
  border-left: 6px solid red;
  background-color: #ffe3e3;
  padding: 10px;
}

.success {
  border-left: 5px solid green;
  background-color: #dbffed;
  padding: 10px;
}
