<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import Field from "../components/form-line.svelte";

  import _ from "../tools/i18n/i18n";

  export let submitLabel = "";
  export let activeSubmit = true;
  export let fields = [];

  const dispatch = createEventDispatcher();

  function submit(event) {
    event.preventDefault();

    const formValues = Array.prototype.slice
      .call(this)
      .filter((element) => element.tagName.toUpperCase() === "INPUT")
      .map((element) => element.value);

    dispatch("submit", formValues);
  }

  function keyup() {
    const formValues = Array.prototype.slice
      .call(this)
      .filter((element) => element.tagName.toUpperCase() === "INPUT")
      .map((element) => element.value);

    dispatch("valueChange", formValues);
  }
</script>

<style>
  .form-container {
    width: 100%;
  }
  .form-actions {
    padding-top: 1em;
    text-align: right;
  }

  button {
    width: 100%;
    height: 3em;
  }

  @media screen and (min-width: 400px) {
    button {
      width: auto;
      padding-left: 2em;
      padding-right: 2em;
    }
  }
</style>

<div class="form-container">
  <form method="POST" on:submit={submit} autocomplete="off" on:keyup={keyup}>
    {#each fields as field}
      <Field label={field.label} type={field.type} disabled={field.disabled} value={field.value} qa={field.dataTest} />
    {/each}
    <div class="form-actions"><button type="submit" disabled={!activeSubmit}>{$_(submitLabel)}</button></div>
  </form>
</div>
