<script lang="ts">
  import _ from "../tools/i18n/i18n";

  import Password from "./password.svelte";

  export let label = "__default_label__";
  export let type = "text";
  export let disabled = false;
  export let value = "";
  export let qa = "";

  const isPassword = type === "password";
</script>

<style>
  label {
    align-content: center;
    align-items: center;
  }

  input {
    height: 3em;
    width: 100%;
  }

  @media screen and (min-width: 400px) {
    label {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .field-label {
      min-width: 200px;
      max-width: 250px;
    }
  }
</style>

<label>
  <span class="field-label">{$_(label)}</span>
  <span>
    {#if isPassword}
      <Password {disabled} {value} {qa} />
    {:else}<input type="email" {disabled} bind:value data-test={qa || ''} />{/if}
  </span>
</label>
