<script lang="ts">
  import { currentLanguage } from "../tools/stores";

  export let languages = [
    { code: "EN", label: "Switch to english" },
    { code: "FR", label: "Changer pour le français" },
  ];

  function change(language: string) {
    currentLanguage.set(language);
  }
</script>

<style>
  .languages {
    display: inline;
    margin-left: 20px;
  }
  .languages--language {
    display: inline-block;
    padding: 0;
  }
  .languages--language::after {
    content: "|";
    color: black;
    padding-left: 5px;
    margin-right: 5px;
  }
  .languages--language:last-child::after {
    content: "";
    margin: 0;
    padding: 0;
  }
</style>

<div class="languages">
  {#each languages as language}
    {#if language.code === $currentLanguage}
      <span class="languages--language">{language.code}</span>
    {:else}
      <button class="languages--language as-link" on:click={change.bind(null, language.code)} title={language.label}>
        {language.code}
      </button>
    {/if}
  {/each}
</div>
