<script lang="ts">
  import { fade } from "svelte/transition";
  export let className = "";
  export let dataTest = null;
</script>

<p in:fade={{ duration: 500 }} out:fade={{ duration: 200 }} class={className} data-test={dataTest || false}>
  <slot />
</p>
