<script lang="ts">
  export let disabled = false;
  export let value = "";
  export let qa = "";

  let showPassword = false;

  function toggle() {
    showPassword = !showPassword;
  }
</script>

<style>
  input,
  button {
    height: 3em;
    width: 30px;
  }
  input {
    width: calc(100% - 35px);
  }
</style>

{#if showPassword}
  <input type="text" {disabled} bind:value data-test={qa || ''} />
{:else}<input type="password" {disabled} bind:value data-test={qa || ''} />{/if}
<button type="button" on:click={toggle}>👁️</button>
