<script lang="ts">
  import Form from "../components/form.svelte";
  import Notification from "../components/notification.svelte";

  import { login } from "../tools/api";
  import { session } from "../tools/stores";
  import _ from "../tools/i18n/i18n";
  import { navigate } from "../tools/navigate";

  let fields = [
    {
      label: "login.form.username",
      type: "email",
      dataTest: "email",
    },
    {
      label: "login.form.password",
      type: "password",
      dataTest: "password",
    },
  ];
  let message = null;
  let username = "";
  let password = "";

  $: canSubmit = !!username && !!password;

  function tryLogin(event) {
    const [enteredEmail, password] = event.detail;
    message = null;

    login(enteredEmail, password)
      .then(() => {
        session.update((previous) => ({ ...previous, email: enteredEmail }));
        navigate("/update");
      })
      .catch((e) => {
        console.log("There was an error", e);
        message = true;
      });
  }
  if ($session.email) {
    navigate("/", { replace: true });
  }

  function change(event) {
    [username, password] = event.detail;
  }
</script>

<svelte:head>
  <title>{$_('login.title')}</title>
</svelte:head>

<div class="login-container">
  <h1>{$_('login.title')}</h1>
  {#if message}
    <Notification className="error" dataTest="bad-password">{$_('login.error')}</Notification>
  {/if}
  <p>{$_('login.description')}</p>

  <Form
    {fields}
    activeSubmit={canSubmit}
    submitLabel="login.form.button"
    on:submit={tryLogin}
    on:valueChange={change} />
</div>
