<script script="ts">
  import { session } from "../tools/stores";
  import _ from "../tools/i18n/i18n";
  sessionStorage.clear();
  session.set({});
</script>

<svelte:head>
  <title>{$_('logout.title')}</title>
</svelte:head>

<div>
  <h1>{$_('logout.title')}</h1>
  <p>{$_('logout.description')}</p>
</div>
