<script lang="ts">
  import Notification from "../components/notification.svelte";
  import Form from "../components/form.svelte";
  import { session } from "../tools/stores";
  import { updatePassword } from "../tools/api";
  import _ from "../tools/i18n/i18n";
  import { navigate } from "../tools/navigate";

  const fields = [
    {
      label: "update.form.password1",
      type: "password",
      dataTest: "password1",
    },
    {
      label: "update.form.password2",
      type: "password",
      dataTest: "password2",
    },
  ];

  let password1 = "";
  let password2 = "";

  function redirectIfNoEmail(session) {
    if (!session.email) {
      navigate("/login", { replace: true });
    }
  }

  session.subscribe(redirectIfNoEmail);

  $: hasUpperAndLower = password1.length && /[a-z]/.test(password1) && /[A-Z]/.test(password1);
  $: hasNoneLetter = password1.length && /[^a-zA-Z]/.test(password1);
  $: isLongEnough = password1.length >= 8;
  $: isTheSame = password1.length && password1 === password2;

  let message = null;

  function update(event) {
    message = null;
    const [password1, password2] = event.detail;

    if (password1 !== password2) {
      message = "dontMatch";
    } else {
      message = null;
      updatePassword(password1)
        .then(() => {
          message = "success";
        })
        .catch((e) => {
          console.log(e);
          message = "failure";
        });
    }
  }

  function change(event) {
    [password1, password2] = event.detail;
  }
</script>

<style>
  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    display: grid;
    grid-template-columns: 1em 1fr;
    padding-bottom: 10px;
  }

  li.ok {
    color: #007a00;
  }
  .icon {
    display: inline-block;
    width: 1em;
  }
</style>

<svelte:head>
  <title>{$_('update.title')}</title>
</svelte:head>

<div>
  <h1>{$_('update.title')}</h1>

  {#if message == 'dontMatch'}
    <Notification className="error" dataTest="dont-match">{$_('update.messages.passwordDontMatch')}</Notification>
  {:else if message == 'failure'}
    <Notification className="error" dataTest="failure">{$_('update.messages.failure')}</Notification>
  {:else if message == 'success'}
    <Notification className="success" dataTest="success">{$_('update.messages.success')}</Notification>
  {/if}

  <p>{$_('update.rules.preamble')}</p>

  <ul>
    <li class:ok={isLongEnough}>
      {#if isLongEnough}<span class="icon rules-len">✔</span>{:else}<span class="icon">◽</span>{/if}
      {$_('update.rules.len')}
    </li>
    <li class:ok={hasUpperAndLower}>
      {#if hasUpperAndLower}<span class="icon rules-letters">✔</span>{:else}<span class="icon">◽</span>{/if}
      {$_('update.rules.letters')}
    </li>
    <li class:ok={hasNoneLetter}>
      {#if hasNoneLetter}<span class="icon rules-special">✔</span>{:else}<span class="icon">◽</span>{/if}
      {$_('update.rules.special')}
    </li>
    <li class:ok={isTheSame}>
      {#if isTheSame}<span class="icon rules-copy">✔</span>{:else}<span class="icon">◽</span>{/if}
      {$_('update.rules.copy')}
    </li>
  </ul>

  <Form
    {fields}
    activeSubmit={isLongEnough && isTheSame && hasNoneLetter && hasUpperAndLower}
    submitLabel="update.form.button"
    on:submit={update}
    on:valueChange={change} />
</div>
